/* RESET E INIZIALIZZAZIONE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Fredoka, Arial;
}

.flexcontainer {
    display: flex;
}

/* selettore per il maincontainer, di tipo flex */

.maincontainer {
    margin: 3.125rem 17%;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

/* selettori per i tre sottoelementi del maincontainer */

.header {
    font-size: 40px;
    color: #e53170;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 10px;
}

.text {
    text-align: center;
    line-height: 1.5;
}

.presentation {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px 30px;
}

/* selettore per i flex-item figli diretti del container delle card, 
   quindi le card stesse, a loro volta flex-container */

.card {
    width: 22.5rem;
    height: 6.25rem;
    background-color: #0f0e17;
    box-shadow: 0 0 8px 4px #c4c4c3;
}

/* selettori per i discendenti delle card con le informazioni */

.description {
    margin: 10px 10px;
    color: white;
    list-style: none;
}

.info {
    margin: 5px;
}

.info:first-child {
    font-size: 15px;
    font-weight: bold;
}

.info:last-child {
    color: #72c2e4;
}